@media only screen and (max-width: 1330px) {
    .popular_product {
        .popular_product_slider {
            .product_slider_prev {
                left: 5px;
            }

            .product_slider_next {
                right: 5px;
            }
        }
    }

    .about_avalon_office {
        .avalon_office_slider {
            .avalon_office_prev {
                left: 0;
            }
            .avalon_office_next {
                right: 0;
            }
        }
    }
}

@media only screen and (max-width: 1210px) {
    .header {
        .header_left {
            @include flex-center;
            gap: 13px;
        }

        .catalog_content {
            display: none !important;
        }

        .logo {
            img {
                width: 106px;
            }
        }

        .burger_open {
            display: block;
        }

        .nav {
            display: none;
        }

        .header_phone {
            display: none;
        }

        .phone_icon {
            display: flex;
        }

        .shop_icon ,
        .user_icon,
        .phone_icon {
            width: 32px;
            height: 32px;

            img {
                width: 19px;
            }
        }
    }

    .home {
        .main_container {
            padding: 0 35px;
        }
    }

    .category_product {
        .category_left_card {
            width: 300px;
        }

        .category_right_card {
            width: 100%;
        }
    }

    .comment {
        .main_container {
            gap: 20px;
        }

        .comment_left {
            .commentSwiper {
                max-width: 500px;
            }
        }
    }

    .footer {
        .footer_top_right {
            gap: 30px;
        }
    }
}

@media only screen and (min-width: 1210px) {
    .menu_bg.active ,
    .menu_mobile {
        display: none;
    }
}

@media only screen and (max-width: 992px) {

    .modal_contact {
        width: 400px;

        h2 {
            font-size: 30px;
            margin-bottom: 10px;
        }

        .modal_contact_btn {
            top: 10px;
            right: 10px;
        }

        span {
            font-size: 15px;
        }

        .accent_btn {
            width: 100%;
        }

        p {
            font-size: 14px;
            margin-bottom: 15px;
        }

        .modal_contact_left_content {
            padding: 30px;
        }

        .modal_contact_img {
            display: none;
        }
    }

    .breadcrumbs {
        display: none;
    }

    .home_title {
        font-size: 30px;
        margin: 40px 0 24px 0;
    }

    .main_title {
        font-size: 25px;
    }

    .product_category_top {
        margin: 24px 0 72px 0;

        .main_container {
            flex-direction: column;

            .product_category_top_card {
                width: 100%;
            }
        }
    }

    .category_product {
        margin-bottom: 72px;

        .category_title {
            font-size: 30px;
            margin-bottom: 24px;
        }

        .category_product_in {
            flex-direction: column;
            gap: 16px;

            h3 {
                font-size: 25px;
            }

            .accent_btn {
                padding: 8px 16px;
                font-size: 13px;
            }
        }

        .category_right_cards {
            gap: 16px;
            flex-direction: column;
        }

        .category_left_card {
            background-image: url('../images/category_left_media.png');
            width: 100%;
            padding: 35px 16px;
        }

        .right_card_two {
            background-image: url('../images/category_right2_media.png');
        }

        .category_right_card_end {
            background-image: url('../images/category_right3_media.png');
        }

        .category_right_card {
            padding: 35px 16px;
        }
    }

    .popular_product {

        .popular_title {
            font-size: 30px;
            margin-bottom: 26px;
        }
        .popular_product_slider {
            .product_slider_btn {
                display: none;
            }
        }
    }

    .avalon_info {
        .main_container {
            flex-direction: column;
            gap: 8px;

            .avalon_info_left {
                .avalon_desktop_img {
                    display: none;
                }

                .avalon_media {
                    display: block;
                }
            }

            .avalon_info_right {
                .home_slider_title {
                    font-size: 35px;
                    margin-bottom: 24px;
                }

                p {
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 24px;
                }
            }
        }
    }

    .avalon_informations {
        .main_container {
            flex-direction: column;
            gap: 24px;
        }

        .avalon_information_card {
            display: flex;
            gap: 16px;
            @include flex-start;

            img {
                margin-bottom: 0;
            }
        }
    }

    .catalog_part {
        padding-top: 50px;

        .home_title {
            font-size: 30px;
            margin: 40px 0 24px 0;
        }

        .catalog_part_cards {
            gap: 16px;
            .catalog_part_card {
                width: calc(100%);
            }
        }

        .catalog_part_card {
            padding: 35px 16px 25px 16px;

            h4 {
                font-size: 25px;
            }
        }

        .catalog_part_card_one {
            background-image: url('../images/catalog_part1_media.png');
        }
        
        .catalog_part_card_two {
            background-image: url('../images/category_right1.png');
        }
    
        .catalog_part_card_three {
            background-image: url('../images/category_right2_media.png');
        }
    
        .catalog_part_card_four {
            background-image: url('../images/category_right3_media.png');
        }
    }

    .comment {
        .main_container {
            flex-direction: column;
        }
    }

    .contact_home {
        margin-top: 60px;

        .main_container {
            flex-direction: column;
            gap: 54px;
        }

        .map {
            width: 100%;

            img {
                height: auto;
            }
        }
    }

    .contact_form {
        .main_container {
            flex-direction: column;
        }

        .right_block {
            width: 100%;
        }
    }

    .personal_area {
        .main_container {
            gap: 20px;
            margin-top: 100px;
        }

        .nav_block {
            width: 80px;

            a:not(.login) {
                height: 35px;

                svg {
                    width: 25px;
                    height: auto;
                }

                span {
                    display: none;
                }
            }

            a.login {
                height: 35px;
                font-size: 14px;
                border-radius: 5px;
            }
        }

        &_content {
            width: calc(100% - 100px);
        }

        .avatar {
            width: 50px;
            height: 50px;
            font-size: 20px;

            svg {
                width: 35px;
                height: auto;
            }
        }

        .name {
            font-size: 16px;
        }

        .edit {
            img {
                width: 20px;
                height: auto;
            }
        }

        .main_card {
            padding: 10px;

            &:first-child {
                margin-bottom: 15px;
            }

            &_head {
                gap: 15px;
                flex-direction: column;
                align-items: flex-start;
            }

            .data {
                .description {
                    margin-top: 0;
                }
            }

            .description {
                font-size: 14px;
            }

            &_foot {
                flex-direction: column;
                align-items: flex-start;

                .user_data {
                    flex-direction: column;
                    align-items: flex-start;
                    gap: 5px;
                }
            }

            .accent_link {
                font-size: 14px;
            }
        }

        .profile_card {
            padding: 10px;

            &_head {
                flex-direction: column;
                align-items: flex-start;
                gap: 15px;
            }
            
            &_foot {
                flex-direction: column;
                gap: 20px;
            }

            .card_item {
                align-items: center;
                gap: 10px;


                .user_data {
                    font-size: 16px;
                    
                    span, a {
                        margin-top: 0;
                    }
                }
            }
        }
    }
    
    .main_area, .profile_area {
        margin-bottom: 100px;
    }

    .requisites {
        padding-top: 70px;

        .requisites_card {
            padding: 32px 24px;
        }
    }

    .guarantees {
        padding-bottom: 0;
        margin-top: 90px;

        .guarantees_cards {
            flex-direction: column;
            gap: 20px;

            h5 {
                margin-bottom: 10px;
            }

            .payment_bank_cards {
                margin-top: 24px;
            }
        }
    }

    .about_home {
        .under_container {
            flex-direction: column;
            gap: 24px;
        }

        .about_home_left {
            padding-left: 0;
        }

        .about_home_right {
            width: 100%;
            @include flex-full-center;
        }

        .home_title {
            margin: 10px 0 15px 0;
        }
        .about_home_text {
            font-size: 16px;
        }
    }

    .avalon_office {
        margin: 50px 0;
        .main_container {
            flex-direction: column-reverse;
            gap: 25px;
        }

        .avalon_office_left {
            span {
                font-size: 16px;
                margin-bottom: 15px;
            }
        }
    }

    .about_avalon_office {
        .avalon_office_slider {
            .avalon_office_btn {
                display: none;
            }
        }
    }

    .avalon_office_two {
        .main_container {
            flex-direction: column;
        }
    }

    .copyright_home {
        p {
            font-size: 15px;
            padding-bottom: 40px;
        }
    }

    .copyright_about {
        margin: 40px 0;

        .main_title {
            margin-bottom: 20px;
        }

        .about_contact_img {
            display: block;
        }

        .copyright_about_in {
            flex-direction: column;
            align-items: start;
            gap: 30px;
        }

        .copyright_about_left {
            max-width: 100%;
        }

        .copyright_about_right {
            width: 100%;
            @include flex-full-center;
        }
    }

    .about_contact {
        .under_container {
            background-position: left;

            h3 {
                font-size: 25px;
                margin-bottom: 10px;
            }

            p {
                font-size: 15px;
                margin-bottom: 20px;
            }

            .about_contact_text {
                padding: 30px 0;
            }

            .about_contact_form {
                flex-direction: column;
                align-items: start;

                .form_block {
                    width: 100%;
                }

                input ,
                button {
                    width: 100%;
                }
            }

            .form_block {
                flex-basis: auto;
            }
        }
    }

    .dealers_cards {

        .dealers_card ,
        .dealers_card_two {
            .dealers_card_left {
                h3, ul {
                    padding-left: 0;
                    padding-right: 0;
                }

                h3 {
                    margin-bottom: 20px;
                }

                li {
                    font-size: 14px;
                }
            }
        }
        
        .main_container {            
            display: flex;
            flex-direction: column;
            gap: 30px;
        }

        .dealers_card {
            flex-direction: column;
            gap: 20px;
        }
    }
    
    .footer {
        .under_container {
            padding: 0 35px;
        }

        .footer_top_right {
            .footer_link {
                display: flex;
                flex-wrap: wrap;
                flex-direction: row;
                gap: 16px;
            }
        }

        .footer_top {
            padding: 35px 0 10px 0;
            flex-direction: column-reverse;

            .footer_top_right {
                gap: 40px;
                flex-direction: column-reverse;
            }

            .footer_top_left {
                a {
                    font-size: 20px;
                    font-weight: 600;
                    line-height: normal;
                }

                p {
                    max-width: 100%;
                }
            }

            .policy_link {
                margin-bottom: 40px;
                display: block;
            }

            .footer_contact {
                order: 3;
            }

            .footer_catalog {
                order: 2;
            }

            .footer_information {
                order: 1;
            }
        }

        .footer_bottom {
            border-top: 0;
            padding: 0 0 40px 0;
            a {
                display: none;
            }

            p {
                font-size: 10px;
                font-weight: 400;
                line-height: normal;
            }

        }
    }
}

@media only screen and (min-height: 770px) and (max-width: 768px) {
    .auth {
        height: 100vh;
    }
}

@media only screen and (max-width: 768px) {
    .home {
        background: linear-gradient(90deg, #B7B3B5 0%, #C0B6B9 21.23%, #CBC2C5 50.84%, #BFBEC3 100%);
        .homeSwiper {
            .home_swiper_btn {
                display: none ;
            }
        }

        .swiper-slide {
            .home_dekstop_img {
                display: none;
            }
            .home_media_img {
                display: block;
            }
        }

        .home_text {
            padding: 316px 0 67px 0;
            span {
                font-size: 13px;
            }

            .main_title {
                font-size: 35px;
                font-weight: 600;
                line-height: 38px;
                margin-bottom: 8px;
            }

            h6 {
                font-size: 25px;
                margin-bottom: 24px;
            }
        }
    }

    .auth {
        padding-top: 100px;
        padding-bottom: 100px;

        &_form {
            width: 100%;
            padding: 40px 30px;
            margin-top: 100px;
        }

        .tab {
            &_head {
                button {
                    font-size: 16px;
                    padding: 12px;
                }
            }
        }
    }
}

@media only screen and (max-width: 576px) {
    .home  {
        .home_text {
            .home_btns {
                flex-direction: column;
                gap: 9px;
            }

            .accent_btn,
            .light_btn {
                width: 100%;
            }
        }
    }

    .product_category_top {
        .main_container {

            .top_card_one {
                background-image: url('../images/category_top_media1.png');
                background-position: center;
            }

            .top_card_two {
                background-image: url('../images/category_top_media2.png');
                background-position: center;
            }

            .product_category_top_card {
                padding: 40px 18px 0 18px;

                p {
                    margin-bottom: 16px;
                }

                button {
                    padding-bottom: 238px;
                }
            }
        }
    }

    .avalon_info {
        .avalon_info_right {
            .accent_btn {
                width: 100%;
            }
        }
    }

    .comment {
        margin: 72px 0;

        .main_container {
            display: block;
        }

        .comment_left {
            margin-bottom: 72px;
            padding: 0;
            width: 100%;
            border-radius: 20px;
            background: transparent;
            box-shadow: none;

            .commentSwiper {
                p {
                    margin-bottom: 40px;
                }
            }

            .commentSwiper {

                .comment_bottom {
                    justify-content: start;
                    flex-direction: row;
                    .swiper-pagination {
                        justify-content: end;
                    }
    
                    .accent_link {
                        margin-left: 0;
                        margin-right: auto;
                    }
                }
            }

        }

        .comment_right {
            display: block;
            width: 100%;
            height: auto;
            padding: 40px 16px;

            ul {
                margin-bottom: 32px;
            }

            .comment_from  {
                height: auto;
                flex-direction: column;
                gap: 16px;

                .input_light, 
                .accent_btn {
                    height: 44px;
                    padding: 13px 13px;
                    border-radius: 5px;
                    width: 100%;
                }

                .accent_btn {
                    padding: 10px 13px;
                }

            }
        }
    }
}

@media only screen and (max-width: 450px) {
    .contact_form {
        .inputs {
            .form_group {
                width: 100%;
            }
        }

        .accent_btn {
            width: 100%;
        }
    }

    .modal_contact {
        width: 90%;
        
        .modal_contact_left_content {
            padding: 20px 30px 20px 20px;
        }
    }
}