// colors

$--Black: #1B1B1B;
$--Text: #404040;

$--Accent: #C13222;
$--White: #FFF;
$--Border: #C5C5C5;

$--Footer-Border: #313131FF;
// colors

// mixin
@mixin flex-full-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin flex-full-stretch {
    display: flex;
    align-items: stretch;
    justify-content: center;
}

@mixin flex-start {
    display: flex;
    align-items: start;
}

@mixin flex-center {
    display: flex;
    align-items: center;
}

@mixin transition {
    transition: .2s ease;
}

// mixin

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

a {
    color: inherit;
    display: inline-block;
}

img {
    max-width: 100%;
}

span, label {
    display: inline-block;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
}

input {
    outline: none;
}

button {
    border: none;
    cursor: pointer;
    background: transparent;
}

.under_container {
    max-width: 1340px;
    padding: 0 10px;
    margin: 0 auto;
}

.main_container {
    max-width: 1210px;
    padding: 0 20px;
    margin: 0 auto;
}

// global block
.home_title {
    color: $--Black;
    font-size: 60px;
    font-weight: 700;
    line-height: normal;
}

.main_title {
    color: $--Black;
    font-size: 32px;
    font-weight: 600;
    line-height: normal;
}

.home_slider_title {
    font-size: 55px;
    font-weight: 600;
    line-height: 60px;
    color: $--Black;
}

.accent_btn {
    color: $--White;
    font-size: 14px;
    border-radius: 10px;
    font-weight: 700;
    line-height: 24px;
    padding: 10px 16px;
    background-color: $--Accent;
    @include flex-full-center;
}

.input_light {
    border-radius: 10px;
    border: 1px solid $--Border;
    background: $--White;
    padding: 0 15px;
    height: 44px;
    color: $--Text;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    opacity: 0.5;
}

.accent_link {
    color: $--Accent;
    font-size: 18px;
    font-weight: 600;
    line-height: 24px;
    text-decoration-line: underline;
}

.description {
    color: $--Text;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

// global block


// index page
.home {
    padding-top: 64px;

    .homeSwiper {
        position: relative;
        @include flex-center;
        justify-content: space-between;
    }

    .home_swiper_btn {
        cursor: pointer;
        position: absolute;
        z-index: 3;
        width: 38px;
        height: 38px;
        border-radius: 50%;
        background-color: $--White;
        @include flex-full-center;
    }

    .home_btn_left {
        left: 15px;
    }

    .home_btn_right {
        right: 15px;
    }

    .swiper-button-disabled {
        opacity: 0.7;
        cursor: auto;
    }

    .swiper-wrapper {
        position: relative;

    }
    .home_swiper_pagination {
        position: absolute;
        bottom: 32px;
        left: 0;
        right: 0;
        z-index: 3;
        @include flex-full-center;

        .swiper-pagination-bullet {
            background-color: #E5E0E1FF;
            width: 12px;
            height: 12px;
        }

        .swiper-pagination-bullet-active {
            background-color: $--White;
        }
    }

    .swiper-slide {
        position: relative;

        .home_media_img {
            display: none;
            position: absolute;
            width: 100%;
            height: auto;
            // object-fit: cover;
            z-index: -1;
        }

        .home_dekstop_img {
            position: absolute;
            width: 100%;
            height: 100%;
            object-fit: cover;
            z-index: -1;
        }
    }

    .home_text {
        padding: 150px 0 119px 0;

        span {
            margin-bottom: 4px;
            padding: 5px 10px;
            border-radius: 5px;
            background: $--Black;
            color: $--White;
            font-size: 16px;
            font-weight: 700;
            line-height: normal;
            text-transform: uppercase;
        }

        .main_title {
            max-width: 424px;
            margin-bottom: 16px;
            font-size: 55px;
        }

        h6 {
            color: $--Black;
            font-size: 30px;
            font-weight: 700;
            line-height: normal;
            margin-bottom: 48px;
        }

        .home_btns {
            @include flex-center;
            gap: 24px;
        }

        .accent_btn {
            width: 200px;
            border-radius: 10px;
            // padding: 12px 0;
        }

        .light_btn {
            @include flex-full-center;
            border-radius: 10px;
            background-color: $--White;
            color: $--Black;
            color: #1B1B1B;
            font-size: 15px;
            font-weight: 700;
            line-height: normal;
            padding: 13px 0;
            width: 200px;
        }
    }
}

.product_category_top {
    margin: 24px 0 56px 0;
    .main_container {
        @include flex-full-center;
        gap: 30px;

        .top_card_one {
            background-image: url('../images/category_top1.png');
            background-repeat: no-repeat;
            background-size: cover;
            background-position: right;
        }

        .top_card_two {
            background-image: url('../images/category_top2.png');
            background-repeat: no-repeat;
            background-size: cover;
            background-position: right;
        }

        .product_category_top_card {
            padding: 73px 0 47px 25px;
            flex: 1;
            border-radius: 20px;
            overflow: hidden;
        }

        h5 {
            // padding-top: 73px;
            color: $--Black;
            font-size: 25px;
            font-weight: 600;
            line-height: normal;
            margin-bottom: 8px;
        }

        p {
            max-width: 350px;
            color: $--Text;
            font-size: 14px;
            font-weight: 400;
            line-height: 22px;
            margin-bottom: 28px;
        }

        a {
            color: $--Accent;
            font-size: 16px;
            font-weight: 600;
            line-height: normal;
        }
    }
}

.category_product {
    margin-bottom: 57px;
    
    .category_title {
        color: $--Black;
        font-size: 35px;
        font-weight: 600;
        line-height: normal;
        margin-bottom: 28px;
    }

    .category_product_in {
        display: flex;
        align-items: stretch;
        gap: 30px;

        h3 {
            max-width: 210px;
            color: $--White;
            font-size: 30px;
            font-weight: 600;
            line-height: normal;
            margin-bottom: 8px;
        }

        p {
            color: $--White;
            font-size: 14px;
            font-weight: 400;
            line-height: 21px;
            text-decoration-line: underline;
            opacity: 0.5;
            margin-bottom: 17px;
        }

        .accent_btn {
            width: 140px;
            border-radius: 10px;
        }
    }

    .category_left_card {
        border-radius: 20px;
        overflow: hidden;
        padding: 35px 24px;
        // flex: 1;
        width: 370px;
        background-image: url('../images/category_left_desktop.png');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;    
    }

    .category_right_cards {
        gap: 24px 30px;
        flex: 2;
        display: flex;
        flex-wrap: wrap;
    }

    .category_right_card {
        border-radius: 20px;
        overflow: hidden;
        padding: 35px 24px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: right;
        width: calc(100% / 2 - 15px);

        h3 {
            color: $--Black;
        }

        p {
            color: $--Black;
        }
    }
    
    .right_card_one {
        background-image: url('../images/category_right1.png');
        
    }

    .right_card_two {
        background-image: url('../images/category_right2.png');
        
    }

    .category_right_card_end {
        background-image: url('../images/category_right3.png');
        width: 100%;
    }
}

.popular_product {
    .popular_title {
        color: #000;
        font-size: 32px;
        font-weight: 600;
        line-height: normal;
        margin-bottom: 24px;
    }

    .popular_product_slider {
        position: relative;
        @include flex-center;
        justify-content: space-between;

        .popular_category_card {
            border-radius: 12px;
            @include transition;
            overflow: hidden;
            border: 1px solid transparent;
            img {
                border-radius: 10px;
                overflow: hidden;
            }

            &:hover {
                border: 1px solid #B9B9B9;
                background: #F8F8F8;
                box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.25);

                img {
                    filter: contrast(120%);
                }

                .card_body_btns {
                    bottom: 20px;
                }

                .popular_category_card_body {
                    overflow: visible;
                }
            }
        }

        .product_slider_btn {
            position: absolute;
            top: 25%;
            width: 38px;
            height: 38px;
            z-index: 2;
            border-radius: 50%;
            background-color: #C13222;
            @include flex-full-center;
            cursor: pointer;
        }

        .swiper-button-disabled {
            opacity: 0.5;
            cursor: auto;
        }

        .product_slider_prev {
            left: -68px;
        }

        .product_slider_next {
            right: -68px;
        }

        .popular_category_card_body {
            overflow: hidden;
            position: relative;
            padding: 16px 13px 64px 16px;

            h6 {
                color: $--Black;
                font-size: 16px;
                font-weight: 600;
                line-height: normal;
                margin-bottom: 8px;
            }

            .card_body_size {
                @include flex-center;
                justify-content: space-between;
                margin-bottom: 12px;
            }

            p {
                color: $--Text;
                text-align: right;
                font-size: 10px;
                font-weight: 400;
                line-height: normal;
                opacity: 0.7;
            }

            span {
                color: $--Text;
                text-align: right;
                font-size: 12px;
                font-weight: 400;
                line-height: normal;
            }

            h5 {
                color: $--Black;
                font-size: 20px;
                font-weight: 700;
                line-height: normal;
            }

            .card_body_btns {
                width: 90%;
                position: absolute;
                bottom: -100px;
                display: none;
                margin-top: 50px;
                @include flex-center;
                justify-content: space-between;
                gap: 7px;
                @include transition;
            }

            .accent_btn,
            .popular_category_btn {
                padding: 0;
                flex: 1;
                border-radius: 10px;
                height: 36px;
            }

            .popular_category_btn {
                color: $--Black;
                font-size: 12px;
                font-weight: 700;
                line-height: normal;
                border: 1px solid #B9B9B9;
            }
        }
    }
}

.avalon_info {
    margin-bottom: 56px;

    transform: translateY(-20px);
    .main_container {
        @include flex-center;
        gap: 50px;
    }

    .avalon_info_left {
        flex: 1;
        
        .avalon_media {
            display: none;
        }
    }

    .avalon_info_right {
        flex: 1;

        .home_slider_title {
            margin-bottom: 16px;
        }

        p {
            color: $--Text;
            font-size: 16px;
            font-weight: 400;
            line-height: 24px;
            margin-bottom: 32px;
        }

        .accent_btn {
            padding: 0;
            height: 48px;
            width: 200px;
        }
    }
}

.avalon_informations {
    background: linear-gradient(180deg, #FAFAFA 0%, #FAFAFA 100%), #D9D9D9;
    padding: 40px 0;
    .main_container {
        @include flex-start;
        gap: 30px;
    }

    .avalon_information_card {
        flex: 1;

        img {
            margin-bottom: 14px;
        }

        h6 {
            color: $--Black;
            font-size: 16px;
            font-weight: 600;
            line-height: normal;
            margin-bottom: 8px;
        }

        p {
            color: $--Black;
            font-size: 14px;
            font-weight: 400;
            line-height: 21px;
        }
    }
}

.comment {
    margin: 56px 0;

    .main_container {
        @include flex-full-stretch;
        gap: 30px;
    }

    .comment_left {
        padding: 32px 24px;
        border-radius: 20px;
        background: linear-gradient(180deg, #FAFAFA 0%, #FAFAFA 100%), #F5F5F5;
        box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.25);

        .commentSwiper {
            max-width: 670px;
        }

        .comment_bottom {
            @include flex-center;
            justify-content: space-between;

            .swiper-pagination {
                @include flex-center;
                justify-content: start;
                gap: 6px;
            }

            .swiper-pagination-bullet {
                width: 12px;
                height: 12px;
                border-radius: 50%;
                border: 1px solid rgba(27, 27, 27, 1);
                background-color: transparent;
            }

            .swiper-pagination-bullet-active {
                background-color: $--Accent;
                border: 1px solid transparent;
            }

            .accent_link {
                margin-left: auto;
            }
        }


        .main_title {
            margin-bottom: 24px;
        }

        .swiper-wrapper {
            h6 {
                color: $--Black;
                font-size: 18px;
                font-weight: 500;
                line-height: normal;
                margin-bottom: 8px;
            }

            p {
                color: $--Text;
                font-size: 16px;
                font-weight: 400;
                line-height: 24px;
                margin-bottom: 54px;
            }
        }


    }

    .comment_right {
        flex: 1;
        padding: 32px 24px;
        border-radius: 20px;
        background: linear-gradient(180deg, #FAFAFA 0%, #FAFAFA 100%), #D9D9D9;
        box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.25);

        .main_title {
            margin-bottom: 24px;
        }

        ul {
            display: flex;
            flex-direction: column;
            gap: 8px;
            margin-bottom: 42px;

            li {
                @include flex-center;
                gap: 12px;
                font-size: 16px;    
                font-weight: 400;
                line-height: 24px;
            }
        }

        .comment_from {
            height: 44px;
            @include flex-center;

            .input_light {
                border-radius: 10px 0px 0px 10px;
                height: 100%;
                flex: 2;
            }

            button {
                border-radius: 0px 10px 10px 0px;
                height: 100%;
                flex: 1;
            }
        }
    }
}
// index page

// about page

// about page










// import file
@import 'header';
@import 'footer';
@import 'responsive';