* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

a {
  color: inherit;
  display: inline-block;
}

img {
  max-width: 100%;
}

span, label {
  display: inline-block;
}

body {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
}

input {
  outline: none;
}

button {
  border: none;
  cursor: pointer;
  background: transparent;
}

.under_container {
  max-width: 1340px;
  padding: 0 10px;
  margin: 0 auto;
}

.main_container {
  max-width: 1210px;
  padding: 0 20px;
  margin: 0 auto;
}

.home_title {
  color: #1B1B1B;
  font-size: 60px;
  font-weight: 700;
  line-height: normal;
}

.main_title {
  color: #1B1B1B;
  font-size: 32px;
  font-weight: 600;
  line-height: normal;
}

.accent_btn {
  color: #FFF;
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  padding: 10px 16px;
  background-color: #C13222;
  display: flex;
  align-items: center;
  justify-content: center;
}

.input_light {
  border-radius: 10px;
  border: 1px solid #C5C5C5;
  background: #FFF;
  padding: 0 15px;
  height: 44px;
  color: #404040;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  opacity: 0.5;
}

.accent_link {
  color: #C13222;
  font-size: 18px;
  font-weight: 600;
  line-height: 24px;
  text-decoration-line: underline;
}

.description {
  color: #404040;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.header {
  position: fixed;
  width: 100%;
  background: #FFF;
  box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.25);
}
.header .under_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header .burger_open {
  display: none;
}
.header .logo img {
  width: 116px;
}
.header .catalog_btn {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 10px 15px;
  border-radius: 5px;
  border: 1px solid #C5C5C5;
  background: #F6F6F6;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.1);
  color: #1B1B1B;
  font-size: 14px;
  font-weight: 500;
  line-height: normal;
}
.header .nav .nav_link {
  display: flex;
  align-items: center;
  gap: 16px;
}
.header .nav_link a {
  color: #1B1B1B;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.header .header_contact {
  display: flex;
  align-items: center;
  gap: 16px;
}
.header .header_phone {
  margin-right: 16px;
  display: flex;
  flex-direction: column;
}
.header .header_phone a {
  color: #1B1B1B;
  font-size: 20px;
  font-weight: 700;
  line-height: normal;
}
.header .header_phone span {
  width: 104px;
  margin-left: auto;
  color: #C13222;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  border-bottom: 1px dashed #C13222;
}
.header .shop_icon,
.header .user_icon,
.header .phone_icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid #F6F6F6;
  background-color: #F8F8F8;
  filter: drop-shadow(0px 1px 3px rgba(0, 0, 0, 0.1));
}
.header .phone_icon {
  display: none;
}

@media only screen and (max-width: 1210px) {
  .header .header_left {
    display: flex;
    align-items: center;
    gap: 13px;
  }
  .header .logo img {
    width: 106px;
  }
  .header .burger_open {
    display: block;
  }
  .header .nav {
    display: none;
  }
  .header .header_phone {
    display: none;
  }
  .header .phone_icon {
    display: flex;
  }
  .header .shop_icon,
  .header .user_icon,
  .header .phone_icon {
    width: 32px;
    height: 32px;
  }
  .header .shop_icon img,
  .header .user_icon img,
  .header .phone_icon img {
    width: 19px;
  }
}/*# sourceMappingURL=style.css.map */