* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

a {
  color: inherit;
  display: inline-block;
}

img {
  max-width: 100%;
}

span, label {
  display: inline-block;
}

body {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
}

input {
  outline: none;
}

button {
  border: none;
  cursor: pointer;
  background: transparent;
}

.under_container {
  max-width: 1340px;
  padding: 0 10px;
  margin: 0 auto;
}

.main_container {
  max-width: 1210px;
  padding: 0 20px;
  margin: 0 auto;
}

.home_title {
  color: #1B1B1B;
  font-size: 60px;
  font-weight: 700;
  line-height: normal;
}

.main_title {
  color: #1B1B1B;
  font-size: 32px;
  font-weight: 600;
  line-height: normal;
}

.home_slider_title {
  font-size: 55px;
  font-weight: 600;
  line-height: 60px;
  color: #1B1B1B;
}

.accent_btn {
  color: #FFF;
  font-size: 14px;
  border-radius: 10px;
  font-weight: 700;
  line-height: 24px;
  padding: 10px 16px;
  background-color: #C13222;
  display: flex;
  align-items: center;
  justify-content: center;
}

.input_light {
  border-radius: 10px;
  border: 1px solid #C5C5C5;
  background: #FFF;
  padding: 0 15px;
  height: 44px;
  color: #404040;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  opacity: 0.5;
}

.accent_link {
  color: #C13222;
  font-size: 18px;
  font-weight: 600;
  line-height: 24px;
  text-decoration-line: underline;
}

.description {
  color: #404040;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.home {
  padding-top: 64px;
}
.home .homeSwiper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.home .home_swiper_btn {
  cursor: pointer;
  position: absolute;
  z-index: 3;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  background-color: #FFF;
  display: flex;
  align-items: center;
  justify-content: center;
}
.home .home_btn_left {
  left: 15px;
}
.home .home_btn_right {
  right: 15px;
}
.home .swiper-button-disabled {
  opacity: 0.7;
  cursor: auto;
}
.home .swiper-wrapper {
  position: relative;
}
.home .home_swiper_pagination {
  position: absolute;
  bottom: 32px;
  left: 0;
  right: 0;
  z-index: 3;
  display: flex;
  align-items: center;
  justify-content: center;
}
.home .home_swiper_pagination .swiper-pagination-bullet {
  background-color: #e5e0e1;
  width: 12px;
  height: 12px;
}
.home .home_swiper_pagination .swiper-pagination-bullet-active {
  background-color: #FFF;
}
.home .swiper-slide {
  position: relative;
}
.home .swiper-slide .home_media_img {
  display: none;
  position: absolute;
  width: 100%;
  height: auto;
  z-index: -1;
}
.home .swiper-slide .home_dekstop_img {
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: -1;
}
.home .home_text {
  padding: 150px 0 119px 0;
}
.home .home_text span {
  margin-bottom: 4px;
  padding: 5px 10px;
  border-radius: 5px;
  background: #1B1B1B;
  color: #FFF;
  font-size: 16px;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
}
.home .home_text .main_title {
  max-width: 424px;
  margin-bottom: 16px;
  font-size: 55px;
}
.home .home_text h6 {
  color: #1B1B1B;
  font-size: 30px;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 48px;
}
.home .home_text .home_btns {
  display: flex;
  align-items: center;
  gap: 24px;
}
.home .home_text .accent_btn {
  width: 200px;
  border-radius: 10px;
}
.home .home_text .light_btn {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  background-color: #FFF;
  color: #1B1B1B;
  color: #1B1B1B;
  font-size: 15px;
  font-weight: 700;
  line-height: normal;
  padding: 13px 0;
  width: 200px;
}

.product_category_top {
  margin: 24px 0 56px 0;
}
.product_category_top .main_container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}
.product_category_top .main_container .top_card_one {
  background-image: url("../images/category_top1.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;
}
.product_category_top .main_container .top_card_two {
  background-image: url("../images/category_top2.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;
}
.product_category_top .main_container .product_category_top_card {
  padding: 73px 0 47px 25px;
  flex: 1;
  border-radius: 20px;
  overflow: hidden;
}
.product_category_top .main_container h5 {
  color: #1B1B1B;
  font-size: 25px;
  font-weight: 600;
  line-height: normal;
  margin-bottom: 8px;
}
.product_category_top .main_container p {
  max-width: 350px;
  color: #404040;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  margin-bottom: 28px;
}
.product_category_top .main_container a {
  color: #C13222;
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
}

.category_product {
  margin-bottom: 57px;
}
.category_product .category_title {
  color: #1B1B1B;
  font-size: 35px;
  font-weight: 600;
  line-height: normal;
  margin-bottom: 28px;
}
.category_product .category_product_in {
  display: flex;
  align-items: stretch;
  gap: 30px;
}
.category_product .category_product_in h3 {
  max-width: 210px;
  color: #FFF;
  font-size: 30px;
  font-weight: 600;
  line-height: normal;
  margin-bottom: 8px;
}
.category_product .category_product_in p {
  color: #FFF;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  text-decoration-line: underline;
  opacity: 0.5;
  margin-bottom: 17px;
}
.category_product .category_product_in .accent_btn {
  width: 140px;
  border-radius: 10px;
}
.category_product .category_left_card {
  border-radius: 20px;
  overflow: hidden;
  padding: 35px 24px;
  width: 370px;
  background-image: url("../images/category_left_desktop.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.category_product .category_right_cards {
  gap: 24px 30px;
  flex: 2;
  display: flex;
  flex-wrap: wrap;
}
.category_product .category_right_card {
  border-radius: 20px;
  overflow: hidden;
  padding: 35px 24px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;
  width: calc(50% - 15px);
}
.category_product .category_right_card h3 {
  color: #1B1B1B;
}
.category_product .category_right_card p {
  color: #1B1B1B;
}
.category_product .right_card_one {
  background-image: url("../images/category_right1.png");
}
.category_product .right_card_two {
  background-image: url("../images/category_right2.png");
}
.category_product .category_right_card_end {
  background-image: url("../images/category_right3.png");
  width: 100%;
}

.popular_product .popular_title {
  color: #000;
  font-size: 32px;
  font-weight: 600;
  line-height: normal;
  margin-bottom: 24px;
}
.popular_product .popular_product_slider {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.popular_product .popular_product_slider .popular_category_card {
  border-radius: 12px;
  transition: 0.2s ease;
  overflow: hidden;
  border: 1px solid transparent;
}
.popular_product .popular_product_slider .popular_category_card img {
  border-radius: 10px;
  overflow: hidden;
}
.popular_product .popular_product_slider .popular_category_card:hover {
  border: 1px solid #B9B9B9;
  background: #F8F8F8;
  box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.25);
}
.popular_product .popular_product_slider .popular_category_card:hover img {
  filter: contrast(120%);
}
.popular_product .popular_product_slider .popular_category_card:hover .card_body_btns {
  bottom: 20px;
}
.popular_product .popular_product_slider .popular_category_card:hover .popular_category_card_body {
  overflow: visible;
}
.popular_product .popular_product_slider .product_slider_btn {
  position: absolute;
  top: 25%;
  width: 38px;
  height: 38px;
  z-index: 2;
  border-radius: 50%;
  background-color: #C13222;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.popular_product .popular_product_slider .swiper-button-disabled {
  opacity: 0.5;
  cursor: auto;
}
.popular_product .popular_product_slider .product_slider_prev {
  left: -68px;
}
.popular_product .popular_product_slider .product_slider_next {
  right: -68px;
}
.popular_product .popular_product_slider .popular_category_card_body {
  overflow: hidden;
  position: relative;
  padding: 16px 13px 64px 16px;
}
.popular_product .popular_product_slider .popular_category_card_body h6 {
  color: #1B1B1B;
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
  margin-bottom: 8px;
}
.popular_product .popular_product_slider .popular_category_card_body .card_body_size {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 12px;
}
.popular_product .popular_product_slider .popular_category_card_body p {
  color: #404040;
  text-align: right;
  font-size: 10px;
  font-weight: 400;
  line-height: normal;
  opacity: 0.7;
}
.popular_product .popular_product_slider .popular_category_card_body span {
  color: #404040;
  text-align: right;
  font-size: 12px;
  font-weight: 400;
  line-height: normal;
}
.popular_product .popular_product_slider .popular_category_card_body h5 {
  color: #1B1B1B;
  font-size: 20px;
  font-weight: 700;
  line-height: normal;
}
.popular_product .popular_product_slider .popular_category_card_body .card_body_btns {
  width: 90%;
  position: absolute;
  bottom: -100px;
  display: none;
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 7px;
  transition: 0.2s ease;
}
.popular_product .popular_product_slider .popular_category_card_body .accent_btn,
.popular_product .popular_product_slider .popular_category_card_body .popular_category_btn {
  padding: 0;
  flex: 1;
  border-radius: 10px;
  height: 36px;
}
.popular_product .popular_product_slider .popular_category_card_body .popular_category_btn {
  color: #1B1B1B;
  font-size: 12px;
  font-weight: 700;
  line-height: normal;
  border: 1px solid #B9B9B9;
}

.avalon_info {
  margin-bottom: 56px;
  transform: translateY(-20px);
}
.avalon_info .main_container {
  display: flex;
  align-items: center;
  gap: 50px;
}
.avalon_info .avalon_info_left {
  flex: 1;
}
.avalon_info .avalon_info_left .avalon_media {
  display: none;
}
.avalon_info .avalon_info_right {
  flex: 1;
}
.avalon_info .avalon_info_right .home_slider_title {
  margin-bottom: 16px;
}
.avalon_info .avalon_info_right p {
  color: #404040;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 32px;
}
.avalon_info .avalon_info_right .accent_btn {
  padding: 0;
  height: 48px;
  width: 200px;
}

.avalon_informations {
  background: linear-gradient(180deg, #FAFAFA 0%, #FAFAFA 100%), #D9D9D9;
  padding: 40px 0;
}
.avalon_informations .main_container {
  display: flex;
  align-items: start;
  gap: 30px;
}
.avalon_informations .avalon_information_card {
  flex: 1;
}
.avalon_informations .avalon_information_card img {
  margin-bottom: 14px;
}
.avalon_informations .avalon_information_card h6 {
  color: #1B1B1B;
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
  margin-bottom: 8px;
}
.avalon_informations .avalon_information_card p {
  color: #1B1B1B;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
}

.header {
  position: fixed;
  z-index: 5;
  width: 100%;
  background: linear-gradient(0deg, #FFF 0%, #FFF 100%), #D9D9D9;
  box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.25);
}
.header .under_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header .burger_open {
  display: none;
}
.header .logo img {
  width: 116px;
}
.header .catalog_btn {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 10px 15px;
  border-radius: 5px;
  border: 1px solid #C5C5C5;
  background: #F6F6F6;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.1);
  color: #1B1B1B;
  font-size: 14px;
  font-weight: 500;
  line-height: normal;
}
.header .nav .nav_link {
  display: flex;
  align-items: center;
  gap: 16px;
}
.header .nav_link a {
  color: #1B1B1B;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.header .header_contact {
  display: flex;
  align-items: center;
  gap: 16px;
}
.header .header_phone {
  margin-right: 16px;
  display: flex;
  flex-direction: column;
}
.header .header_phone a {
  color: #1B1B1B;
  font-size: 20px;
  font-weight: 700;
  line-height: normal;
}
.header .header_phone span {
  width: 104px;
  margin-left: auto;
  color: #C13222;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  border-bottom: 1px dashed #C13222;
}
.header .shop_icon,
.header .user_icon,
.header .phone_icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid #F8F8F8;
  background-color: #f6f6f6;
  filter: drop-shadow(0px 1px 3px rgba(0, 0, 0, 0.1));
}
.header .phone_icon {
  display: none;
}

.menu_bg {
  background-color: rgba(0, 0, 0, 0.6);
  position: fixed;
  width: 100%;
  height: 100dvh;
  top: 0;
  left: 0;
  z-index: 9;
  display: none;
}

.menu_bg.active {
  display: block;
}

.menu_mobile {
  position: fixed;
  z-index: 10;
  left: -100%;
  top: 0;
  width: 85%;
  height: 100%;
  background-color: #FFF;
  transition: 0.2s ease;
}
.menu_mobile .menu_mobile_head {
  padding: 32px 10px 16px 10px;
  background: linear-gradient(180deg, #F8F8F8 0%, #F8F8F8 55.21%, #E9E9E9 100%), #D9D9D9;
}
.menu_mobile .menu_mobile_head h5 {
  color: #1B1B1B;
  font-size: 25px;
  font-weight: 500;
  line-height: normal;
  margin-bottom: 4px;
}
.menu_mobile .menu_mobile_head a {
  color: #C13222;
  font-size: 14px;
  font-weight: 500;
  line-height: normal;
  text-decoration-line: underline;
}
.menu_mobile .menu_in {
  padding: 16px 10px 32px 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.menu_mobile .menu_item {
  padding: 12px 0;
  border-bottom: 1px solid #C5C5C5;
}
.menu_mobile .menu_item a {
  display: flex;
  align-items: center;
  gap: 8px;
  transition: 0.2s ease;
}
.menu_mobile .menu_item a:hover {
  opacity: 0.5;
}
.menu_mobile .menu_in_bottom {
  margin-top: 189px;
}
.menu_mobile .menu_phone_btn {
  color: #3A4754;
  font-size: 20px;
  font-weight: 600;
  line-height: normal;
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 19px;
}
.menu_mobile .accent_btn {
  border-radius: 10px;
}

.menu_mobile.active {
  left: 0;
}

.footer {
  background-color: #1B1B1B;
}
.footer .footer_top {
  padding: 40px 0 49px 0;
  display: flex;
  align-items: start;
  justify-content: space-between;
}
.footer .policy_link {
  display: none;
  color: #FFF;
  font-size: 14px;
  font-weight: 600;
  line-height: normal;
  text-decoration-line: underline;
}
.footer .footer_bottom {
  border-top: 1px solid #313131;
  padding: 24px 0;
}
.footer .footer_bottom .under_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer .footer_bottom a {
  color: #FFF;
  font-size: 14px;
  font-weight: 600;
  line-height: normal;
  text-decoration-line: underline;
}
.footer .footer_bottom p {
  color: #FFF;
  font-size: 14px;
  font-weight: 400;
  line-height: normal;
}
.footer .footer_top_left a {
  color: #FFF;
  font-size: 24px;
  font-weight: 600;
  line-height: normal;
  margin-bottom: 16px;
}
.footer .footer_top_left p {
  max-width: 286px;
  color: #FFF;
  font-size: 12px;
  font-weight: 400;
  line-height: 21px;
  opacity: 0.8;
}
.footer .footer_top_right {
  display: flex;
  align-items: start;
  gap: 70px;
}
.footer .footer_top_right h6 {
  color: #FFF;
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.footer .footer_top_right .footer_link,
.footer .footer_top_right .footer_contact_link {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.footer .footer_link_item a {
  color: #FFF;
  font-size: 14px;
  font-weight: 400;
  line-height: normal;
  opacity: 0.5;
  transition: 0.2s ease;
}
.footer .footer_link_item a:hover {
  opacity: 1;
}
.footer .footer_contact_item a {
  display: flex;
  align-items: center;
  gap: 8px;
  color: #FFF;
  font-size: 14px;
  font-weight: 600;
  line-height: normal;
  transition: 0.2s ease;
}
.footer .footer_contact_item a:hover {
  opacity: 0.5;
}

@media only screen and (max-width: 1330px) {
  .popular_product .popular_product_slider .product_slider_prev {
    left: 5px;
  }
  .popular_product .popular_product_slider .product_slider_next {
    right: 5px;
  }
}
@media only screen and (max-width: 1210px) {
  .header .header_left {
    display: flex;
    align-items: center;
    gap: 13px;
  }
  .header .logo img {
    width: 106px;
  }
  .header .burger_open {
    display: block;
  }
  .header .nav {
    display: none;
  }
  .header .header_phone {
    display: none;
  }
  .header .phone_icon {
    display: flex;
  }
  .header .shop_icon,
  .header .user_icon,
  .header .phone_icon {
    width: 32px;
    height: 32px;
  }
  .header .shop_icon img,
  .header .user_icon img,
  .header .phone_icon img {
    width: 19px;
  }
  .home .main_container {
    padding: 0 35px;
  }
  .category_product .category_left_card {
    width: 300px;
  }
  .category_product .category_right_card {
    width: 100%;
  }
  .footer .footer_top_right {
    gap: 30px;
  }
}
@media only screen and (min-width: 1210px) {
  .menu_bg,
  .menu_mobile {
    display: none;
  }
}
@media only screen and (max-width: 992px) {
  .product_category_top {
    margin: 24px 0 72px 0;
  }
  .product_category_top .main_container {
    flex-direction: column;
  }
  .product_category_top .main_container .product_category_top_card {
    width: 100%;
  }
  .category_product {
    margin-bottom: 72px;
  }
  .category_product .category_title {
    font-size: 30px;
    margin-bottom: 24px;
  }
  .category_product .category_product_in {
    flex-direction: column;
    gap: 16px;
  }
  .category_product .category_product_in h3 {
    font-size: 25px;
  }
  .category_product .category_product_in .accent_btn {
    padding: 8px 16px;
    font-size: 13px;
  }
  .category_product .category_right_cards {
    gap: 16px;
    flex-direction: column;
  }
  .category_product .category_left_card {
    background-image: url("../images/category_left_media.png");
    width: 100%;
    padding: 35px 16px;
  }
  .category_product .right_card_two {
    background-image: url("../images/category_right2_media.png");
  }
  .category_product .category_right_card_end {
    background-image: url("../images/category_right3_media.png");
  }
  .category_product .category_right_card {
    padding: 35px 16px;
  }
  .popular_product .popular_title {
    font-size: 30px;
    margin-bottom: 26px;
  }
  .popular_product .popular_product_slider .product_slider_btn {
    display: none;
  }
  .avalon_info .main_container {
    flex-direction: column;
    gap: 8px;
  }
  .avalon_info .main_container .avalon_info_left .avalon_desktop_img {
    display: none;
  }
  .avalon_info .main_container .avalon_info_left .avalon_media {
    display: block;
  }
  .avalon_info .main_container .avalon_info_right .home_slider_title {
    font-size: 35px;
    margin-bottom: 24px;
  }
  .avalon_info .main_container .avalon_info_right p {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
  }
  .avalon_informations .main_container {
    flex-direction: column;
    gap: 24px;
  }
  .avalon_informations .avalon_information_card {
    display: flex;
    gap: 16px;
    display: flex;
    align-items: start;
  }
  .avalon_informations .avalon_information_card img {
    margin-bottom: 0;
  }
  .footer .under_container {
    padding: 0 35px;
  }
  .footer .footer_top_right .footer_link {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 16px;
  }
  .footer .footer_top {
    padding: 35px 0 10px 0;
    flex-direction: column-reverse;
  }
  .footer .footer_top .footer_top_right {
    gap: 40px;
    flex-direction: column-reverse;
  }
  .footer .footer_top .footer_top_left a {
    font-size: 20px;
    font-weight: 600;
    line-height: normal;
  }
  .footer .footer_top .footer_top_left p {
    max-width: 100%;
  }
  .footer .footer_top .policy_link {
    margin-bottom: 40px;
    display: block;
  }
  .footer .footer_top .footer_contact {
    order: 3;
  }
  .footer .footer_top .footer_catalog {
    order: 2;
  }
  .footer .footer_top .footer_information {
    order: 1;
  }
  .footer .footer_bottom {
    border-top: 0;
    padding: 0 0 40px 0;
  }
  .footer .footer_bottom a {
    display: none;
  }
  .footer .footer_bottom p {
    font-size: 10px;
    font-weight: 400;
    line-height: normal;
  }
}
@media only screen and (max-width: 768px) {
  .home {
    background: linear-gradient(90deg, #B7B3B5 0%, #C0B6B9 21.23%, #CBC2C5 50.84%, #BFBEC3 100%);
  }
  .home .homeSwiper .home_swiper_btn {
    display: none;
  }
  .home .swiper-slide .home_dekstop_img {
    display: none;
  }
  .home .swiper-slide .home_media_img {
    display: block;
  }
  .home .home_text {
    padding: 316px 0 67px 0;
  }
  .home .home_text span {
    font-size: 13px;
  }
  .home .home_text .main_title {
    font-size: 35px;
    font-weight: 600;
    line-height: 38px;
    margin-bottom: 8px;
  }
  .home .home_text h6 {
    font-size: 25px;
    margin-bottom: 24px;
  }
}
@media only screen and (max-width: 576px) {
  .home .home_text .home_btns {
    flex-direction: column;
    gap: 9px;
  }
  .home .home_text .accent_btn,
  .home .home_text .light_btn {
    width: 100%;
  }
  .product_category_top .main_container .top_card_one {
    background-image: url("../images/category_top_media1.png");
    background-position: center;
  }
  .product_category_top .main_container .top_card_two {
    background-image: url("../images/category_top_media2.png");
    background-position: center;
  }
  .product_category_top .main_container .product_category_top_card {
    padding: 40px 18px 0 18px;
  }
  .product_category_top .main_container .product_category_top_card p {
    margin-bottom: 16px;
  }
  .product_category_top .main_container .product_category_top_card a {
    padding-bottom: 238px;
  }
  .avalon_info .avalon_info_right .accent_btn {
    width: 100%;
  }
}/*# sourceMappingURL=style.css.map */